* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
}

nav {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  padding: 10px;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 2.3rem;
}

nav div {
  display: flex;
  height: 60px;
  width: 25%;
}

nav img {
  border-radius: 2.5px 0 0 2.5px;
  background-color: #E7ECEE;
  padding: 10px;
  width: 60px;
}

nav input {
  border: 0;
  border-radius: 0 2.5px 2.5px 0;
  height: 60px;
  outline: none;
  padding: 10px;
  width: 85%;
}


h1 span {
  color: #FFC30C;
}

section {
  display: flex;
}

form {
  background-color: #597A8B;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1%;
  width: 35%;
}

.section {
  display: flex;
  flex-direction: column;
}

form ul{
  list-style: none;
  margin: 1%;
  padding: 0 0 0 3%;
}

.section__task {
  align-items: center;
  height: 20px;
  display: flex;
  margin: 10px 0px;
}

#task-input {
  border-radius: 2.5px 0px 0px 2.5px;
}

#dlt-pending {
  align-content: baseline;
  border: none;
  margin-right: 10px;
  width: 40px;
}


.form__div {
  display: flex;
  width: 100%;
  margin: 0 0 2% 0;
}

form label {
  color: #BAC7CF;
  margin: 10px 0px;
}

form input {
  border: 2px solid #1F1F3D;
  border-radius: 2.5px;
  height: 60px;
  padding: 10px;
  outline: none;
  width: 100%;
}

#pending-task-btn {
  border-radius: 0px 2.5px 2.5px 0px;
  background-color: #1F1F3D;
  padding: 10px;
  width: 6vh;
}

form img:hover,
form button:hover {
  background-color: #EF4A23;
}

form button:disabled {
  background-color: grey;
}

hr {
  background-color: #41697B;
  border-color:  #41697B;
  border-top: 1px solid #41697B;
  margin: 10% -16px;
  width: 140%;
}

form button {
  background-color: #1F1F3D;
  border-radius: 2.5px;
  border: none;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 400;
  height: 60px;
  margin: 4% 0;
}

/* main {
  background-color: #F3F6F7;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  height: 100vh;
  padding: 2%;
  width: 65%;
} */

main {
  column-gap: 30px;
  columns: 2 250px;
  background-color: #F3F6F7;
  padding: 2em;
  width: 100%;
}

article {
  background-color: #FAFDFF;
  border: 1px solid #C7D3D8;
  break-inside: avoid;
  height: fit-content;

  margin-bottom: 30px;
}

h2 {
  font-size: 1rem;
  margin: 3% 0 3% 4%;
}

article header {
  border-bottom: 1px solid #C7D3D8;
  margin-bottom: 1%;
}

article footer {
  border-top: 1px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

article ul {
  margin: 0;
  padding: 0 0 0 4%;
}

article li {
  display: flex;
  font-size: 1rem;
  list-style: none;
  margin: 20px 10px;
}

#checkbox {
  margin-right: 10px;
  outline: none;
  width: 20px;
}

.footer__left,
.footer__right {
  height: auto;
  text-align: center;
  padding: 5px;
  width:20%;
}

#x-article-btn {
  margin-bottom: 7px;gti dsfdfadfafdffadsfadsfasdfdf
}

article img {
  width: 20px;
  margin-right: 5%;
}

article p {
  font-size: .7em;
  margin: 0;
}

/**** urgent article ****/

.article--urgent {
  background-color: #FFE89D;
  border: 1px solid #FFC30C;
  height: fit-content;
  /* width: fit-content; */
}

.article__header--urgent {
  border-bottom: 1px solid #FFC30C;
  margin-bottom: 1%;
}

.article__footer--urgent {
  border-top: 1px solid #FFC30C;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.article__li--urgent {
  color: #BAC7CF;
  display: flex;
  font-style: italic;
  list-style: none;
  margin: 20px 10px;
}

@media screen and (max-width: 610px) {

  nav {
    display: block;
    height: 15%;
    text-align: center;
  }

  h1 {
    font-size: 3rem; 
  }

  nav div {
    height: 28%;
    width: 90%;
    margin: 2% 0 0 9%
  }

  nav img {
    padding: 1%;
    width: 10%;
  }

  section {
    display: block;
  }

  form {
    height: fit-content;
    padding: 3%;
    width: 100%;
  }

  main {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {

  h1 {
    font-size: 2.7rem;
  }
}